<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>872176701007-65lu4g8pq45jei00kdt0rvhvhdu3vegl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.872176701007-65lu4g8pq45jei00kdt0rvhvhdu3vegl</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>872176701007-qhcd8qsg262uquepsn3468p1pja0cnsq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBS--c7AGuAV-zhWEyGkUjF7X1JyS3uiBs</string>
	<key>GCM_SENDER_ID</key>
	<string>872176701007</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.huni.flutterSample220329</string>
	<key>PROJECT_ID</key>
	<string>fluttersampleapp-41c6e</string>
	<key>STORAGE_BUCKET</key>
	<string>fluttersampleapp-41c6e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:872176701007:ios:f315c10b997504d7bd243a</string>
</dict>
</plist>